[submodule ".registry"]
	path = .registry
	url = https://github.com/cirad-astre/universe
	shallow = true
	branch = HEAD
[submodule "topomatch"]
	path = topomatch
	url = https://forgemia.inra.fr/umr-astre/topomatch
	shallow = true
	registered = true
