[submodule ".registry"]
	path = .registry
	url = https://github.com/cirad-astre/cirad-astre.r-universe.dev
	branch = HEAD
[submodule "crashbayes"]
	path = crashbayes
	url = https://forge.inrae.fr/umr-astre/training/crashbayes
[submodule "geonetwork"]
	path = geonetwork
	url = https://gitlab.cirad.fr/astre/geonetwork
[submodule "mapMCDA"]
	path = mapMCDA
	url = https://forge.inrae.fr/umr-astre/mapMCDA
[submodule "sit"]
	path = sit
	url = https://forge.inrae.fr/umr-astre/sit
[submodule "spreadrate"]
	path = spreadrate
	url = https://forge.inrae.fr/umr-astre/spreadrate
[submodule "topomatch"]
	path = topomatch
	url = https://forge.inrae.fr/umr-astre/topomatch
